<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="3b64c250-85a4-48f9-8be0-e100e8d7541c"
    Publisher="CN=swdriessen"
    Version="1.0.2.0" />

  <Properties>
    <DisplayName>MSIX Sample</DisplayName>
    <PublisherDisplayName>swdriessen</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="MSIX Demo Application"
        Description="testing signed MSIX installer in combination with CI/CD"
        BackgroundColor="#151517"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap3:FileTypeAssociation Name="characterfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.dnd5e</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Aurora Character File</uap:DisplayName>
            <uap:Logo>viking-padded.png</uap:Logo>
            <uap:InfoTip>This is a character file for Aurora.</uap:InfoTip>
          </uap3:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="aurora-index" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="aurora">
            <uap:DisplayName>Aurora</uap:DisplayName>
            <uap:Logo>sample-icon.jpg</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="aurorafile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.aurora</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Aurora File</uap:DisplayName>
            <uap:InfoTip>This is a file for Aurora.</uap:InfoTip>
            <uap:Logo>viking-padded.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
